*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom properties */

:root {
    --ff-primary: 'Cairo', sans-serif;
    --ff-secondary:  'Roboto', sans-serif;
    --ff-logo: 'Dancing Script', cursive;

    --fw-reg: 300;
    --fw-bold: 800;

    --clr-text: #fff;
    --clr-text-dark:#e0e0e0;
    --clr-black: #000000;
    --clr-gray: #1a1a1a;
    --clr-accent: #247ba0;
    --clr-accent2: #13293d;
    --clr-accent3: #161925;
    --clr-browser: #1a1a1a;

    --fs-h1: 3.5rem;
    --fs-h2: 3.0rem;
    --fs-h3: 2.5rem;
    --fs-body: 1.4rem;
    --fs-contact: 2.0rem;
    --fs-contact-logo: 3rem;
    --fs-logo: 12rem;
}

[data-theme="dark"] {
  --clr-text: #fff;
  --clr-text-dark:#e0e0e0;
  --clr-black: #000000;
  --clr-gray: #1a1a1a;
  --clr-accent: #247ba0;
  --clr-accent2: #13293d;
  --clr-accent3: #161925;
  --clr-browser: #1a1a1a;
}

[data-theme="light"] {
  --clr-text: #000000;
  --clr-text-dark: #e0e0e0;
  --clr-black: #000000;
  --clr-gray: #787878;
  --clr-accent: #80ced7;
  --clr-accent2: #007ea7;
  --clr-accent3: #003249;
  --clr-browser: #ffffff;
}

@media (min-width: 800px) {
    :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.5rem;
      --fs-h3: 2.25rem;
      --fs-body: 1.75rem;
      --fs-contact: 2.25rem;
      --fs-logo: 16rem;
    }

}

@media (max-width: 400px) {
    :root {
      --fs-h1: 2.65rem;
      --fs-h2: 2.3rem;
      --fs-h3: 2.0rem;
      --fs-body: 1.25rem;
      --fs-contact: 1.7rem;
      --fs-logo: 7.5rem;

    }
}

/*    General Styling  */

body {

  background: var(--color-light);
  color: var(--clr-accent3);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.3;
  width: 100vw;
  overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }


/*       Header    */

header {

}
/*
.header-logo-switch {
  background-color: var(--clr-accent3);
  display: flex;
  justify-content: space-between;
  margin: 0;
}
*/
.logo {
  position: absolute;
  top: 2.5%;
  left: 2%;
  font-family: var(--ff-logo);
  color: var(--clr-accent);

}

/*    Slider Switch  */
/* The switch - the box around the slider */
.switch {
  position: absolute;
  top: 4%;
  right: 4%;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Navigation */

.nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  box-shadow: 0 0 15px var(--clr-black);

  background-color: var(--clr-accent3);
  display: flex;
  overflow-x: auto;
  z-index: 1000;

}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  color: var(--clr-text);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 800px) {

  .nav {
    position: absolute;
    border: none;
    box-shadow: none;
    background-color: transparent;
    top: 10px;
    right: 15%;
    width: 50%;
  }

  .nav i {
    display: none;
  }

  .nav__link {
    background-color: none;
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }

  .nav-active: {
    color: var(--clr-accent);
  }
}

/*    Intro   */

.intro {
    width: 100vw;
    height: 100vh;
    background: var(--clr-accent3);


}

.intro-text {
  display: grid;
  margin-top: -1px;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
      "."
      "a"
      ".";
}

.intro-text-container {
  grid-area: a;
  color: var(--clr-text);
  padding-left: 4%;
}


.intro-name strong {
  color: var(--clr-accent);

}

.btn {
  position: relative;
  font-size: var(--fs-body);
  font-family: var(--ff-secondary);
  font-weight: 500;
  color: var(--clr-gray);
  background-color: var(--clr-text);
  text-decoration: none;
  border: 5px solid var(--clr-accent3);
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
  box-shadow: 7px 7px 0 var(--clr-black), 0px 0px 20px var(--clr-accent3);
  transition: all 0.2 cubic-bezier(.34,1.56,.64,1);
  transition: background-color 2s ease-out;
}

.btn:hover {
  box-shadow: none;
  box-shadow: inset 3px 3px 10px var(--clr-black);
  top: 7px;
  left: 7px;
  background-color: var(--clr-accent1);
  color: var(--clr-text);
}

.btn:active {
  background-color: var(--clr-accent2);
}

.multi-page-title {
  height: 50vw;
  background-color: var(--clr-accent3);
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4%;
}

.blog-page-title {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.shape-fill-project {
  fill: var(--clr-accent3);
}


/* Skills */

.skills-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 7vh repeat(4, 1fr) 75px;
  grid-template-areas:
      ". . . . ."
      "a a a a ."
      ". c . d ."
      ". e . f ."
      ". h . i ."
      ". . . . .";
  text-align: center;
  align-items: center;
  grid-gap: 2px;
  background-color: var(--clr-accent2);


}

.skills-text {
  grid-area: a;
  align-self: end;
  text-align: left;
  padding-left: 4%;
  color: var(--clr-text);
}

.skills-text h2 {
  text-decoration: underline;
}

.skills-text p {
  margin-top: 2px;

}

.skills-logos  {
  font-size: var(--fs-logo);
  color: var(--clr-text);
}

.skills-html {
  grid-area: f;

}

.skills-css {
  grid-area: i;
}

.skills-javascript {
  grid-area: c;
  padding-top: 20px;
}

.skills-java {
  grid-area: d;
  padding-top: 20px;
}

.skills-git {
  grid-area: e;
}

.skills-github {
  grid-area: h;
}

/* Page divider */

.custom-shape-divider-top-1644538026 {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644538026 .shape-fill {
  fill: var(--clr-accent3);
}

.custom-shape-divider-top-1644606979 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1644606979 svg {
    position: relative;
    display: block;
    width: 100vw;
    height: 83px;
}

.custom-shape-divider-top-1644606979 .shape-fill {
  fill: var(--clr-accent2);
}


/* Portfolio */

.portfolio-container {
  position: relative;
  display: block;
  background-color: var(--clr-gray);
  color: var(--clr-text);
}

.project-container {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 50px;
  grid-template-rows: 30px auto auto 50px;
  grid-template-areas:
      ". . ."
      "a a c"
      "b b c"
      ". . .";
  grid-row-gap: 5px;
  grid-column-gap:5%;
  border-bottom: 2px solid var(--clr-accent3-light);
}

@media (min-width:850px) {

      .project-container  {
        display: grid;
        grid-template-areas:
            ". . ."
            "a b c"
            "a b c"
            ". . .";
      }

      .mac-img {
        margin: auto 0 auto auto;
        width: 100%
      }

}

.portfolio-title {
  padding-top: 15vh;
  padding-left: 4%;
  text-decoration: underline;
}

.project-img {
  grid-area: a;
  align-self: end;
  padding-left: 2%;

}

.mac-img {
  width: 90%;
  max-width: 400px;
}

.project-info {
  grid-area: b;
  padding-left: 4%;
}

.project-type {
  grid-area: c;
  background-color: var(--clr-accent);
  height: 90%;
  border-radius: 5rem;
  align-self: center;
  overflow: hidden;
}

.project-type-text {
  transform: rotate(90deg);
  position: relative;
  top: 5%;
  font-size: var(--fs-h3);
}

/*   Blog  */

.blog {
  display: block;
}

.blog-container {
  display: grid;
  grid-template-columns: 4% 1fr 4%;
  grid-template-rows: 10% 1fr 1fr 1fr 80px 100px;
  grid-template-areas:
      ". title  ."
      ". a ."
      ". b ."
      ". c ."
      ". d ."
      ". . .";
  grid-gap: 20px;
  background-color: var(--clr-accent3);
}

@media (min-width: 750px) {
    .blog-container {
      grid-template-columns: 4% 1fr 1fr 1fr 4%;
      grid-template-rows: 10% 1fr 1fr 1fr 80px 100px;
      grid-template-areas:
        ". title . . ."
        ". a a . ."
        ". . b b ."
        ". c c . ."
        ". . d . ."
        ". . . . .";
    }
}

.blog-section-title {
  grid-area: title;
  margin: auto 0;
  color: var(--clr-text);
}

.browser {
  border-radius: 20px;
  border: 4px solid var(--clr-text);
  background-color: var(--clr-browser);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.browser h3,
.browser p{
  padding-left: 4%;
  color: var(--clr-text);
}

.browser-svg {
  font-size: 25px;
  margin: 7px 0 0 10px;
  color: var(--clr-text);
}

.browser-hr {
  height: 5px;
  border-width: 0;
  color: gray;
  background-color: gray;
  width: 100%;
  position: relative;
  margin-top: 4px;

}

.article-1 {
  grid-area: a;
}

.article-2 {
  grid-area: b;
}

.article-3 {
  grid-area: c;
}

.blog-title-link {
  text-decoration: none;
  color: var(--clr-text);
  font-family: var(--ff-secondary);
  font-weight: 500;
  transition: 2s ease-out;
}

.blog-title {
  padding-top: 10px;
}

.blog-title-link:hover {
  color: var(--clr-accent);
}

.blog-btn {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-bottom: 4px;
  color: var(--clr-text);
  font-family: var(--ff-secondary);
  font-weight: 500;
  transform: 2s ease-out;
}

.blog-btn::after {
  content:"➡";
  padding-left: 4px;
}

.blog-btn:hover::after {
  transform: translateX(7px);
}

.full-blog-button {
  grid-area: d;
  position: relative;
  top:20px;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  display: block;
}

/*   Contact  */

.contact-container {
  display: grid;
  grid-template-columns: 4% 1fr 4%;
  grid-template-rows: 80px .5fr 80px;
  grid-template-areas:
      ". . ."
      ". a ."
      ". c .";
  background-color: var(--clr-accent);
}

.contact-map {
  display: none;
}

@media (min-width: 770px) {

  .contact-container {
    display: grid;
    width: 100%;
    grid-template-columns: 4% .5fr .5fr 4%;
    grid-template-rows: 80px .5fr 80px;
    grid-column-gap:4%;
    grid-template-areas:
        ". . . ."
        ". a d ."
        ". c d .";
  }

  .contact-map {
    grid-area: d;
    display: block;
    padding-bottom: 10px;
  }

}

.contact-info {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  max-width: 350px;
  color: var(--clr-text);
}

.contact-links {
  grid-column: b;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

}

.contact-btn {
  padding: 10px;
  font-size: var(--fs-contact);
  max-width: 350px;

}

.contact-social {
  grid-area: c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  font-size: var(--fs-contact-logo);
  padding-top: 20px;
  padding-left: 4%;
}

.contact-social i {
  color: var(--clr-text);
}

.contact-social i:hover {
  color: var(--clr-accent3);
  transition: color 1s ease-out;
}

.custom-shape-divider-top-1644710025 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1644710025 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 38px;
}

.custom-shape-divider-top-1644710025 .shape-fill {
    fill: var(--clr-accent);
}

.footer-container {
  position: relative;
  background-color: var(--clr-gray);
  height:100px;
  margin-bottom: 10vh;
  text-align: center;
}

@media (min-width: 800px) {
  .footer-container {
    margin-bottom: 0;
  }
}

.footer-container p {
  color: var(--clr-text);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
